{% block _oro_dashboard_embed_url_widget %}
    {% import '@OroUI/macros.html.twig' as UI %}

    <div {{ UI.renderPageComponentAttributes({
        module: 'orogoogledatastudiodashboard/js/app/components/google-data-studio-dashboard-component',
        name: 'google-data-studio-dashboard'
    }) }}>
        {{ block('form') }}
    </div>
{% endblock %}
